langchain
langgraph
langchain_community
langsmith
pandas
python-dotenv
langchain-google-genai
pydantic
langchain[google-genai]
alpha_vantage
tavily-python
mem0ai
qdrant-client
langchain-qdrant
pypdf
chainlit